@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  color: black !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.nav {
  backdrop-filter: blur(5px);
}


.top {
  animation: rotate 15s infinite linear;
}

.middle {
  animation: rotate 18s infinite reverse linear;
}

.bottom {
  animation: rotate 20s infinite linear;
}

.blobs {
  transition: transform 5s;
}

.blobs:hover {
  transform: translate(100px, 100px) scale(0.0);
}

@keyframes rotate {
  0% {
    transform: translate(100px, 100px) rotate(0deg);
  }

  100% {
    transform: translate(100px, 100px) rotate(359deg);
  }
}

.ofb {
  background-image: linear-gradient(to right, #d3591c, #013668);
}

.rtt {
	background: linear-gradient(-45deg, #ee7752, #d3591c, #23a6d5, #013668);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
